*.py[co]
*.so
*.sw[nop]
.#*
.DS_Store
._*
\#*\#
build
dist
*~
*.log
precomputed
.pydevproject
.project
*.sublime-*
virtualenv_run
.tox
apollo.egg-info/
__pycache__
.idea/
.coverage
environment_tools.egg-info
.cache/
